<h1>New Wiadomosci</h1>
<% if logged_as_student? %>
    <%= render 'form' %>
<%end %>
<% if logged_as_teacher? %>
    <%= render 'form1' %>
<%end %>

<%= link_to 'Back', message_path(session[:user_id]) %>
