<h1>Tuaj znajdziesz wszystkie potrzebne wskazówki jak korzystać z serwisu!!<h1>
<li>Mapa świata</li>
Wczuj się w rolę odkrywcy a to jest twoja mapa. Kolejne jej elementy będziesz odkrywać przy kolejnych zajęciach, 
a ich daty są ustalane przez twojego wykładowce. Każdy punkt na mapie odpowiada jednym zajęciom, są to krainy, 
w których znajdują się zadania na które musisz udzielić odpowiedzi.w
<li>Rozwiązywanie zadań</li>
Na mapach krainy rozmieszczone jest pięć zadań. Przy treści zadania widnieją podpowiedzi z których możesz skożystać. 
Każde zadanie możesz wysyłać wielokrotnie, jednak do sprawdzenia trafi ostatnie rozwiązanie i musisz pamiętać 
by mieścić się w terminach. 
<li>W razie problemów</li>
W razie problemów z zadaniem możesz skożystać z komunikatora aby napsać wiadomość do swojego wykładowcy, 
na pewno chętnie rozwieje twoje wątpliwości.
<li>Praca po godzinach</li>
Dodatkowe punkty można zdobyć utrwalając wiedzę zdobytą na zajęciach w dodatkowych zadaniach. Udział w nich
nie jest obowiązkowy.
<li>Panel Użytkownika</li>
W panelu widnieją informacje twojego postępu. 
Pasek hp: życie tracisz za nieobecności, rozwiązania które nie uzyskały maksymalnej liczby punktów oraz za brak rozzwiązań.
Pasek exp: dzięki niemu możesz zaobsrerwować ile punktów Ci brakuje by być najlepszym.
Punkty rankingowe: to suma wyników rozwiązań zadań.
Pozycja w rankingu światowym oraz grupowym. 
Więcej szczegółowych informacji na temat postępu znajdziesz klikając na avatar.