<div class="row">
  <div class="col-lg-9 col-lg-offset-1">
    <center><h1>Rozwiązania</h1></center>
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#nieocenione" aria-controls="home" role="tab" data-toggle="tab">Nie ocenione <%=Answer.where(teacher_id: session[:user_id], read: false).where.not(solution: nil).count %></a></li>
        <li role="presentation"><a href="#ocenione" aria-controls="profile" role="tab" data-toggle="tab">Ocenione</a></li>
      </ul>
      <div class="tab-content">
        <!--nieocenione-->
        <%=render 'unrated_list'%>
        <!--ocenione-->
        <%=render 'rated_list'%>
      </div>
    </div>
  </div>
</div>





